/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
    font: caption;
    -webkit-user-select: none;
    user-select: none;
    padding-bottom: 30px;
}

main>.container {
    padding: 30px 15px 0;
}

.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
}

h5 {
    text-align: center;
}